In [1]:
import pandas as pd

In [2]:
#not enough memory 

#df_tot=pd.concat([pd.read_csv("../data/final_dataset_vm_dario.csv"),pd.read_csv("../data/final_dataset_vm_max.csv"),  pd.read_csv("../data/final_dataset_vm_fabri.csv")])

In [3]:
#concat with bash (combine_data.sh), remove some variables (remove_columns.sh) then read

In [4]:
df=pd.read_csv("../data/final.csv")

In [5]:
 #just testing
#print(len(df[df["STATUS_CD"]!="ACC"]), " vs", len(df))

2036  vs 54625144

In [5]:
df.head()

,PURPOSE_CD,INTERVAL_NO,BID_OFFER_DATE_DT,QUANTITY_NO,AWARDED_QUANTITY_NO,ENERGY_PRICE_NO,MERIT_ORDER_NO,PARTIAL_QTY_ACCEPTED_IN,ZONE_CD,AWARDED_PRICE_NO,OPERATORE
0,BID,1,20150515,12.611,12.611,0.0,538.0,N,CNOR,43.73,Bilateralista
1,BID,2,20150515,12.528,12.528,0.0,538.0,N,CNOR,40.00,Bilateralista
2,BID,3,20150515,12.447,12.447,0.0,541.0,N,CNOR,32.70,Bilateralista
3,BID,4,20150515,12.463,12.463,0.0,539.0,N,CNOR,34.68,Bilateralista
4,BID,5,20150515,2.325,2.325,0.0,541.0,N,CNOR,34.61,Bilateralista